<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/822b295f-adbe-44de-8005-dd28627c13e4/resourceGroups/releasecrawler/providers/Microsoft.Web/sites/releasecrawler</ResourceId>
    <ResourceGroup>releasecrawler</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://releasecrawler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>releasecrawler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>releasecrawler</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$releasecrawler</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=releasecrawlerdbserver.database.windows.net;Initial Catalog=releasecrawler_db;Persist Security Info=True;User ID=dbuser;Password=X@OIv89n*peTK94^d*G29Yq7*h$Lrkv$" Name="Data Source=releasecrawlerdbserver.database.windows.net;Initial Catalog=releasecrawler_db;Persist Security Info=True;User ID=dbuser;Password=&quot;X@OIv89n*peTK94^d*G29Yq7*h$Lrkv$&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReleaseCrawler.Models.DataContext, ReleaseCrowler" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=releasecrawlerdbserver.database.windows.net;Initial Catalog=releasecrawler_db;Persist Security Info=True;User ID=dbuser;Password="X@OIv89n*peTK94^d*G29Yq7*h$Lrkv$"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>